.Summary {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.Top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 9%;
}

.Steps {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-left: 34%;
}

.Steps hr {
    width: 100%;
    height: 2px;
    background-color: #CBCBCB;
}

.Steps div {
    background-color: #CBCBCB;
    border-radius: 50%;
    width: 40%;
    text-align: center;
    color: white;
    font-size: small;
}

.Steps div:nth-child(1) {
    background-color: #FF005E;
}

.What {
    color: #720056;
    font-weight: bold;
    position: relative;
    top: 30px;
    margin: 1px 0;
    font-family: 'Quicksand', sans-serif;
}

.Svg img {
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Svg p {
    color: #720056;
    font-size: 11px;
    width: 60%;
    position: relative;
    top: -5px;
    font-family: 'Quicksand', sans-serif;
    left: 20%;
}

.Svg div:nth-child(1) {
    position: relative;
    left: 30px;
}

.Svg div:nth-child(3) {
    position: relative;
    left: -30px;
}

.Selected {
    font-weight: bold;
}

.Building {
    height: 65px;
}

.Svg {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-top: 40px;
    margin-left: 15%;
}

.Naira {
    display: flex;
    flex-direction: row;
}

.Naira input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #720056;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(247, 30, 174, 0.19);
    border-radius: 2px;
    color: #720056;
    font-size: medium;
    padding-left: 5%;
}

.Naira input:active, .Naira input:focus {
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #fff;
}

.NairaSign {
    background-color: #720056;
    font-size: x-large;
    padding: 2px 6px;
    color: white;
}

.Pay, .Date, .Loan {
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: start;
    margin-left: 23%;
    position: relative;
    top: -15px;
}

.Pay p, .Date p, .Loan p {
    color: #720056;
    font-weight: bold;
}

.DatePicker, .LoanPicker {
    border: 1px solid purple;
    padding: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.DatePicker span {
    font-size: smaller;
    color: purple;
}

.Bottom {
    position: relative;
    top: -20px;
    font-family: 'Quicksand', sans-serif;
}

.Date, .Loan {
    position: relative;
    top: -10px;
}

.Radio {
    width: 50%;
    text-align: center;
}

.Radio > input[type="radio"] {
    display: none;
}

.Radio > input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #FF2374;
  }

.Radio > input[type="radio"]:checked + *::before {
    background: radial-gradient(#FF2374 0%, #FF2374 40%, transparent 50%, transparent);
    border-color: #FF2374;
}

.Radio  > input[type="radio"]:checked + * {
    color: #FF2374;
}

.LoanPicker label:nth-child(1) {
    border-right: 1px solid gray;
}

.DateP {
    border: none;
    color: purple;
    position: relative;
    text-align: center;
}